@import "2020base";
@import "vendor/bootstrap/bootstrap/modals";
@import "vendor/slick";

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

//footer
body .footer .container a{
  color: inherit;
  text-decoration: none;
}

////////////////////////////////
///////////* INTRO *////////////
////////////////////////////////

#intro h1 {
  margin-bottom: 1.4rem;
}

////////////////////////////////
///////////* PLAN MATRIX *////////////
////////////////////////////////

.plan {
  outline: none;
  padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  text-align: center;
}

.plan-inner-wrapper {
  border-radius: $border-radius-large;
  border-style: solid;
  border-width: 10px 2px 2px 2px;
  padding: 2.4rem 1.4rem;
}

.plan-free .plan-inner-wrapper {
  border-color: $color-black333;
}

.plan-silver-premium .plan-inner-wrapper {
  border-color: $color-purple-light-2020;
}

.plan-gold-ultimate .plan-inner-wrapper {
  border-color: $color-orange-2020;
}

.plan .title {
  @include slp-font-size-3xl;
}

.plan-free .title {
  text-transform: uppercase;
}

.plan .description {
  @include slp-font-size-xl;
}

.plan .sub-description {
  @include slp-font-size-lg;
  @include slp-bold;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.plan .price {
  font-size: 6rem;
  line-height: 6.4rem;
}

.plan-silver-premium .price {
  color: $color-purple-light-2020;
}

.plan-gold-ultimate .price {
  color: $color-orange-2020;
}

.plan .price-monthly {
  @include slp-font-size-md;
}

.plan .price-annually {
  @include slp-font-size-sm;
}

.plan .plan-reason {
  margin-top: 1.6rem;
}

.plan-free .plan-reason {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  /* because otherwise the current phrasing wraps the line for one word. */
}

.plan .feature-title {
  @include slp-bold;
  border-top-style: solid;
  border-top-width: 2px;
  margin: 1.6rem auto 1.2rem auto;
  padding-top: 1.4rem;
}

.plan-free .feature-title {
  border-color: $color-black333;
}

.plan-silver-premium .feature-title {
  border-color: $color-purple-light-2020;
}

.plan-gold-ultimate .feature-title {
  border-color: $color-orange-2020;
}

.plan ul {
  padding-left: 0;
}

.plan li {
  @include slp-font-size-base;
  display: flex;
  list-style-type: none;
  margin-bottom: .8rem;
  text-align: left;
}

.plan .icon {
  @include slp-font-size-base;
  display: inline-block;
  flex: 0 0 auto;
  width: 2.8rem;
}

.plan-free .icon {
  color: $color-black333;
}

.plan-silver-premium .icon {
  color: $color-purple-light-2020;
}

.plan-gold-ultimate .icon {
  color: $color-orange-2020;
}

.plan .btn {
  border-width: 2px;
  margin: 0;
  width: 100%;
}

.btn.start-free {
  background-color: $color-white;
  border-color: $color-black333;
  box-shadow: $button-box-shadow;
  color: $color-black333;
}

.btn.start-free:active,
.btn.start-free:focus,
.btn.start-free:hover {
  background-color: $color-black333;
  border-color: $color-black333;
  color: $color-white;
}

.btn.start-silver-premium {
  background-color: $color-purple-light-2020;
  border-color: $color-purple-light-2020;
  box-shadow: $button-box-shadow;
  color: $color-white;
}

.btn.start-silver-premium:active,
.btn.start-silver-premium:focus,
.btn.start-silver-premium:hover {
  background-color: $color-purple-light-2020-alt;
  border-color: $color-purple-light-2020-alt;
  color: $color-white;
}

.btn.start-gold-ultimate {
  background-color: $color-orange-2020;
  border-color: $color-orange-2020;
  box-shadow: $button-box-shadow;
  color: $color-white;
}

.btn.start-gold-ultimate:active,
.btn.start-gold-ultimate:focus,
.btn.start-gold-ultimate:hover {
  background-color: $color-orange-2020-alt;
  border-color: $color-orange-2020-alt;
  color: $color-white;
}

.plan .title:before {
  background-position: top center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 52px;
  margin: 0 auto;
  width: 96px;
}

.plan-free .title:before {
  background-image: url("/images/pricing/particles-free.svg");
}

.plan-silver-premium .title:before {
  background-image: url("/images/pricing/particles-premium.svg");
}

.plan-gold-ultimate .title:before {
  background-image: url("/images/pricing/particles-ultimate.svg");
}

///////// MOBILE PLAN MATRIX


@media (max-width: $breakpoint-md) {

  .cmp-pricing-plan-list {
    margin-left: -15px;
    margin-right: -15px;
  }

  .plans {
    flex-wrap: nowrap;
  }

  .slp-container .plan {
    padding: .8rem;
    width: 70vw;
  }

}

////////////////////////////////
///////////* BUY MODAL *////////////
////////////////////////////////

// Below items were copy-pasted from preexisting styles


.pricing-page {

  .modal {
    .modal-dialog {
      align-items: center;
      display: flex;
      height: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }

    .modal-content {
      width: 100%;
    }

    .modal-header {
      border: 0;
      display: flex;
      justify-content: flex-end;

      .close {
        border: 0;
        font-size: 24px;
      }
    }

    &.buy-modal {
      .modal-header {
        padding: 10px 10px 0 16px;

        .close {
          margin-top: 0;
        }
      }

      .modal-body {
        display: flex;
      }
    }

    &.compare-modal {
      .modal-header {
        padding: 0;
        position: relative;

        .close {
          margin-top: 2px;
          margin-right: 6px;
          position: absolute;
          z-index: 200;
        }
      }

      .modal-body {
        display: block;
      }
    }

    .modal-body {
      padding: 0px 24px 24px 24px;

      .hosted,
      .self-managed {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .hosted {
        border-right: 1px solid $border-color;
        padding-right: 16px;
      }

      .self-managed {
        padding-left: 16px;
      }

      .explanation {
        flex-grow: 1;
      }

      .button, 
      .btn {
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}

// Below items are overrides or new styles for the modal

@media (max-width: 500px) {
  :root .pricing-page .modal.buy-modal .modal-body {
    display: block;
  }

  :root .pricing-page .modal .modal-body .hosted,
  :root .pricing-page .modal .modal-body .self-managed {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  :root .pricing-page .modal .modal-body .hosted {
    border-bottom: 1px solid $border-color;
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
  }

}

:root .modal-backdrop.in {
  opacity: .85;
}

.buy-modal .title {
  @include slp-font-size-xl;
}

.buy-modal .subtitle {
  @include slp-font-size-sm;
}

.buy-modal .setup {
  @include slp-bold;
  margin-top: 1.6rem;
}

.buy-modal .explanation {
  @include slp-font-size-sm;
  margin-bottom: 1.6rem;
}

////////////////////////////////
///////////* FEATURE COMPARISON *////////////
////////////////////////////////

.cmp-feature-comparison table {
  border-collapse: collapse;
}

.cmp-feature-comparison tbody {
  display: block;
  height: 510px;
  overflow: hidden;
}

.cmp-feature-comparison tbody.expanded {
  height: inherit;
}

.cmp-feature-comparison .check-container svg {
  position: relative;
  left: 6px;
  /* adjust perception due to the odd shape of a checkmark */
}

.cmp-feature-comparison .feature-list-view-more {
  background-color: $color-white;
  box-shadow: $slp-box-shadow;
  cursor: pointer;
  font-weight: 600;
  padding: 1.6rem 2.5rem;
}

.cmp-feature-comparison .feature-list-view-more.expanded {
  bottom: 0px;
  position: sticky;
}

.cmp-feature-comparison .feature-list-view-more:active span:not(.icon),
.cmp-feature-comparison .feature-list-view-more:focus span:not(.icon),
.cmp-feature-comparison .feature-list-view-more:hover span:not(.icon) {
  text-decoration: underline;
}

.cmp-feature-comparison .feature-list-view-more .icon svg {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

.cmp-feature-comparison .feature-list-view-more.expanded .icon svg {
  transform:rotate(180deg);
}

.cmp-feature-comparison .feature-list-view-more .more,
.cmp-feature-comparison .feature-list-view-more.expanded .less {
  display: inline-block;
}

.cmp-feature-comparison .feature-list-view-more .less,
.cmp-feature-comparison .feature-list-view-more.expanded .more {
  display: none;
}

.cmp-feature-comparison thead,
.cmp-feature-comparison tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cmp-feature-comparison thead {
  background: $color-white;
  display: block;
  padding-top: 80px;
  position: sticky;
  top: 0;
  z-index: 11;
}

.feature-table-title {
  @include slp-font-size-2xl;
  position: relative;
}

.feature-table-title:before {
  background: url("/images/pricing/particles-compare.svg") no-repeat top left;
  content: "";
  height: 54px;
  left: -32px;
  position: absolute;
  top: -27px;
  width: 64px;
}

.feature-table-disclaimer {
  @include slp-font-size-base;
}

.feature-table-plan-title {
  @include slp-font-size-xl;
}

.feature-th-free .feature-table-plan-title {
  text-transform: uppercase;
}

.feature-table-plan-price {
  @include slp-font-size-base;
  margin-bottom: .8rem;
}

.cmp-feature-comparison .feature-table-plan-button {
  margin: 0rem 0rem 3rem 0rem;
}

.cmp-feature-comparison tbody td {
  @include slp-font-size-base;
  padding: 1.6rem 2.5rem;
}

.cmp-feature-comparison tbody tr:nth-child(odd) {
  background: $color-gray-super-light;
}

.cmp-feature-comparison .feature-name a {
  color: $color-black333;
  text-decoration: none;
}

.cmp-feature-comparison .feature-name a:active,
.cmp-feature-comparison .feature-name a:focus,
.cmp-feature-comparison .feature-name a:hover {
  text-decoration: underline;
}

///////// MOBILE FEATURE COMPARISON

@media (max-width: $breakpoint-md) {

  .cmp-feature-comparison table {
    display: block;
  }

  .cmp-feature-comparison tbody {
    overflow: hidden;
  }

  .feature-table-plan-button,
  .feature-table-plan-price {
    display: none;
  }

  .cmp-feature-comparison thead tr,
  .cmp-feature-comparison tbody tr {
    display: flex;
    flex-wrap: nowrap;
  }

  .cmp-feature-comparison thead th {
    align-self: flex-end;
  }

  .cmp-feature-comparison thead th,
  .cmp-feature-comparison tbody td {
    flex: 0 0 auto;
    padding: .8rem 1.6rem;
    width: 50px;
  }

  .cmp-feature-comparison thead th:first-child,
  .cmp-feature-comparison tbody td:first-child {
    width: calc(100% - 150px);
  }

  .feature-table-plan-title {
    transform: rotate(180deg);
    width: 50px;
    writing-mode: vertical-rl;
  }

  .cmp-feature-comparison th:not(:first-child) {
    border-right-style: solid;
    border-right-width: 2px;
  }

  .cmp-feature-comparison th.feature-th-free {
    border-color: $color-black333;
  }

  .cmp-feature-comparison th.feature-th-silver-premium {
    border-color: $color-purple-light-2020;
  }

  .cmp-feature-comparison th.feature-th-gold-ultimate {
    border-color: $color-orange-2020;
  }

  .feature-table-title,
  .feature-table-disclaimer,
  :root .cmp-feature-comparison tbody td {
    line-height: 1.2;
  }

}

////////////////////////////////
///////////* FAQ *////////////
////////////////////////////////

// Below items were copy-pasted from preexisting styles

.faq-item {
  background: $color-white;
  border-color: $color-gray;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  list-style-type: none;
  /* above is new, below is preexisting */
  width: 100%;

  &.is-open {
    .faq-answer {
      display: block;
    }
  }

  .faq-question {
    color: $color-black333;
    display: block;

    &:active,
    &:focus,
    &:hover {
      color: $color-black333;
    }

    i {
      transition: all .2s;
    }
  }

  .faq-answer {
    display: none;
    transition: all .25s;

    a {
      color: inherit;
      text-decoration: underline;

      &:active,
      &:focus,
      &:hover {
        color: $color-black333;
      }
    }
  }
}

// Below items are overrides or new styles for the faq

#faq h2 {
  display: inline-block;
  position: relative;
}

#faq h2:before {
  background: url("/images/pricing/particles-faq-left.svg") no-repeat top right;
  content: "";
  height: 48px;
  left: -28px;
  position: absolute;
  top: -24px;
  width: 56px;
}

#faq h2:after {
  background: url("/images/pricing/particles-faq-right.svg") no-repeat top left;
  content: "";
  height: 40px;
  right: -26px;
  position: absolute;
  top: -20px;
  width: 52px;
}

.faq-holder {
  margin-top: 3.2rem;
}

.faq-container {
  margin:0;
  padding: 0;
}

.faq-item:first-child {
  border-top-width: 1px;
  border-top-left-radius: $border-radius-large;
  border-top-right-radius: $border-radius-large;
}

.faq-item:last-child {
  border-bottom-left-radius: $border-radius-large;
  border-bottom-right-radius: $border-radius-large;
}

.faq-question {
  @include slp-font-size-xl;
  padding: 1.6rem 4rem 1.6rem 2.4rem;
  position: relative;
}

.faq-item.is-open .faq-question {
  padding: 1.6rem 4rem 0rem 2.4rem;
}

.faq-item i {
  font-style: normal;
  position: absolute;
  right: 2.4rem;
  top: 1.6rem;
}

.faq-item i:after {
  background: url("/images/icons/slp-plus.svg") no-repeat center center;
  content: "";
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
}

.faq-item.is-open i:after {
  background: url("/images/icons/slp-minus.svg") no-repeat center center;
  content: "";
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
}

.faq-item:active,
.faq-item:focus,
.faq-item:hover,
.faq-item.is-open {
  background: $color-gray-super-light;
}

.faq-answer {
  padding: .8rem 2.4rem 2.4rem 2.4rem;
}

.faq-answer p:last-of-type {
  margin-bottom: 0;
}

//////////////////////////////
/* CTA CONTACT *//////////////////////
//////////////////////////////

.cmp-cta-contact h2 {
  position: relative;
}

.cmp-cta-contact h2:before {
  background: url("/images/enterprise/gitlab-enterprise-team-member-photos.png") no-repeat 0 0;
  background-size: 212px;
  content: "";
  display: block;
  font-size: 0;
  height: 91px;
  line-height: 0;
  margin: 0px auto 20px auto;
  width: 213px;
}

.cmp-cta-contact h2:after {
  background: url("/images/pricing/particles-contact.svg") no-repeat 0 0;
  content: "";
  display: inline-block;
  height: 47px;
  left: calc(50% - 43px);
  position: absolute;
  top: -47px;
  width: 86px;
}
