---
layout: default
title: Diversity Inclusion And Belonging Certfication & Training 
extra_css:
  - job-family.css
---

.content-container.job-family
  .wrapper.container{ role: "main" }
    .row
      .col-md-12
        %h2.job-family-title.text-center Overview Page
        .job-family-blurb This page provides all the modules that needs to be completed to achieve the Diversity, Inclusion & Belonging Certification at Gitlab
    %hr.solid

    .row.job-family-card-group
      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 1 - Welcome to GitLab DIB Certification Training
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/company/culture/inclusion/#diversity-inclusion--belonging-mission-at-gitlab" } Welcome from our CEO
              %li
                %a{ href: "/company/culture/inclusion/#gitlabs-definition-of-diversity-inclusion--belonging" } DIB Team Welcome - Candace Williams, Diversity, Inclusion, & Belonging Manager
              %li
                %a{ href: "/handbook/people-group/gender-pronouns/#sexual-orientation" } DIB Team Welcome - Liam McNally, Diversity, Inclusion, & Belonging Partner
              %li
                %a{ href: "/company/culture/inclusion/#diversity-inclusion-and-belonging-team" } DIB Definitions
             

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 2 - Our Journey in DIB
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/company/culture/inclusion/erg-guide/#definition-of-an-tmrg---team-member-resource-group" } How DIB started at GitLab and where we are today; Our Journey in DIB
              %li
                %a{ href: "/company/culture/inclusion/erg-guide/#how-to-join-current-tmrgs-and-their-slack-channels" } TMRG - GitLab Pride
              %li
                %a{ href: "/company/culture/inclusion/erg-gitlab-pride/" } TMRG - GitLab Women
              %li
                %a{ href: "/company/culture/inclusion/tmrg-gitlab-women/" } TMRG - MIT - Minorities in Tech
              %li
                %a{ href: "/company/culture/inclusion/erg-minorities-in-tech/" } TMRG - GitLab DiversABILITY
              %li
                %a{ href: "/company/culture/inclusion/tmrg-gitlab-generational-understanding/" } TMRG - GitLab Generational Understanding
              %li
                %a{ href: "/company/culture/inclusion/erg-gitlab-diversability/" } TMRG - LatinX
                

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 3 - The Culture of DIB at GitLab - We ALL Contribute
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/company/culture/inclusion/#global-diversity-inclusion--belonging-advisory-group/" } DIB in Operations - The Team Member Experience
              %li
                %a{ href: "/company/culture/inclusion/advisory-group-guide/" } PBPs and DIB - The Work Being Done to Support Orgs
              %li
                %a{ href: "company/culture/inclusion/advisory-group-members/" } L&D and DIB Collaboration
              %li
                %a{ href: "/company/culture/inclusion/advisory-group-guide/" } Data and DIB - How it Comes Together
              %li
                %a{ href: "/company/culture/inclusion/advisory-group-guide/" } DIB in Recruiting 
              
    

      .card.job-family-card
        .card-body.job-family-card-body
          %h4.card-title.job-family-title Module 4 - Testing your DIB Knowledge
          %p.card-text
            %ul.job-family-list
              %li
                %a{ href: "/company/culture/inclusion/#diversity-inclusion--belonging-training-and-learning-opportunities" } TBC
              

