---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/pricing/"
suppress_header: true
cta_contact_title: "Still have questions? Get in touch."
cta_contact_subtitle: "We're here to help. Talk to an expert today."
cta_contact_button_primary_text: "Contact Sales"
cta_contact_button_primary_url: "/sales/"
cta_contact_single_button: true
disable_default_styles: true
disable_handbook_styles: true
manual_cookiebot: true
extra_css:
  - pricing2020.css
extra_js:
  - libs/slick.min.js
  - pricing.js
---
.pricing-page
  .container.slp-container#intro
    .row.text-center.u-padding-top-md
      %h1 Choose a plan that suits your needs
      %h4 All plans have unlimited collaborators and private or public repositories

    .row.u-padding-top-sm.u-padding-bottom-sm
      -#= partial "/experiments/structure", locals: { experiment_id: "37b", experiment_flag: "pricing-37b" }
      -# %notes:
        1. The above AB testing content has not been updated yet to reflect this new iteration of the pricing page and will need updating.
        2. The prices and tier names now exist on the feature comparison table as well, which might need to be taken into account on any new tests.
        3. New javascript has been added for mobile displays which is not yet setup to take tests into account.
      = partial "/includes/pricing-control-2020"

  .container.slp-container#feature-comparison
    .row.u-padding-bottom-md
      = partial "includes/features/pricing-feature-comparison", locals: { product_one: data.features.devops_tools.gitlab_core, product_two: data.features.devops_tools.gitlab_starter, product_three: data.features.devops_tools.gitlab_premium, product_four: data.features.devops_tools.gitlab_ultimate, key_one: 'gitlab_core', key_two: 'gitlab_premium', key_three: 'gitlab_ultimate', name_one: 'Free', name_two: 'Premium', name_three: 'Ultimate', gitlab_com_features: false, highlight_features: false }

  .container.slp-container#faq
    .row.faq.text-center.u-padding-top-md.u-padding-bottom-md
      %h2.text-center Frequently asked questions
      .faq-holder.text-left
        - size = (data.pricing.questions.size / Float(1)).ceil
        - data.pricing.questions.each_slice(size) do |group|
          = partial 'includes/layout/faq_list', locals: { group: group }

  .row#ask-us-anything
    .u-padding-top-md
      .container.container2020
        = partial "includes/components/cta-contact"
